    <% include ../partials/head %>
<script src="/js/clipboard.min.js" type="text/javascript"></script>
<a id="clipURL" style="padding: 10px; border: 1px solid silver; border-image: none; display: block;" onclick="return false;" href="http://페이지URL">http://페이지URL</a>
<br>
<button id="btnCopyClip" style="border: 1px solid silver; border-image: none; width: 100px; height: 30px; text-align: center; line-height: 30px;" type="button" data-clipboard-target="#clipURL" data-clipboard-action="copy">URL복사</button>
<br>
<span id="txtCopyClip" style="display: none;">URL을 길게 누르면 복사하실 수 있습니다.</span>
<script type="text/javascript">
$(document).ready(function(){
  var clipboardSupport = true;
  try {
    $.browser.chrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase());
    var version = $.browser.version;
    version = new Number(version.substring(0, version.indexOf(".")));
    //모바일 접속인지 확인
    if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i)) || (navigator.userAgent.match(/Android/i))) {
      //클립보드 복사기능이 될경우 (크롬 42+)
      if ($.browser.chrome == true && version >= 42) {
        clipboardSupport = true;
      } else {
        clipboardSupport = false;
      }
    }
  } catch(e) {
  }
  if (clipboardSupport) {
    $("#btnCopyClip").show();
    $("#txtCopyClip").hide();
  } else {
    $("#btnCopyClip").hide();
    $("#txtCopyClip").show();
  }
  var clipboard = new Clipboard('#btnCopyClip');
  clipboard.on('success', function(e) {
    alert("주소가 복사되었습니다.\n\n원하는 곳에 붙여넣기 해주세요.");
  });

  clipboard.on('error', function(e) {
    alert("접속중인 기기및 브라우저에서는\n클립보드 복사를 지원하지 않습니다.\nURL을 길게 누르면 복사하실 수 있습니다.");
  });
});
</script>


출처: http://hhjeong.tistory.com/99 [후니의 개발일지]
